.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0 4rem;
  margin: auto;
  max-width: 1400px;

  .navbarItem {
    a {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: #204a4c;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 374px) {
    padding-left: 1rem;
    padding-right: 1rem;
    .logoAndText {
      .logo {
        height: 70px;
        width: 65px;
      }
    }
  }
}
