.parent {
    background-color: white;
    display: flex;
    padding: 0 4rem;
    gap: 4rem;
    justify-content: space-between;

    .child1 {
        align-self: center;
        max-width: 600px;
        flex-direction: column;
        display: flex;
        gap: 10px;

        .text {
            font-weight: bold;
            color: #0b5257;
            font-size: 55px;
            line-height: 62px;
        }

        .subText {
            font-size: 22px;
            font-family: math;
        }
    }

    .child2 {
        width: 600px;
        height: 600px;

        img{
            border-radius: 15px;
        }
    }
}