.wrapper {
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 0 60px;

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        .text1 {
            font-weight: bold;
            color: #0b5257;
            text-align: left;
            font-size: 55px;
            line-height: 62px;
        }
        .text2{
            color: var(--midnight-blue);
            margin-bottom: 0;
            font-family: Plusjakartadisplay, sans-serif;
            font-size: 18px;
            line-height: 32px;
        }
    }

    .image {
        width: 600px;
        height: 650px;
        .mainImage{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
    }
}