.banner-carousel {
  border-radius: 50px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background: #ccfbf1;
  margin: 0 2rem 4rem;
  z-index: 1;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.banner.active {
  opacity: 1;
  transform: translateX(0); /* Center the active banner */
  z-index: 2; /* Ensure the active banner is above others */
}

.banner.prev {
  opacity: 0;
  transform: translateX(-100%); /* Exit to the left */
  z-index: 1;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: serif;
  letter-spacing: 2px;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: serif;
  letter-spacing: 2px;
}

.banner .highlight {
  font-size: 2rem;
  color: #096c6c;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 2px;
}
